.color-bg{
	background-color: red;
}
/*logos monacemebi*/
.logo1{
	display: inline-block;
	width: 217;
	height: 79x;
	background-color: red;
	padding: 10px
}
/*suratis monacemebi*/
.picture1{
	height: 520px: ;
	width: 1341px;
	position: relative;
	bottom: 77px;

}
/*navigaciis monacemebi*/
.nav-li{
	color: blue;
}
.active{
	color: red
}
/*contactebis monacemebi*/
.contact-title{
	text-align: center;
	margin-top: 15px;

}
.contact-ul{
	text-align: center
}
.contact-foother{
	text-align: center
}
/*logogsa da navigaciis gverdigverd dawyoba*/

.d-inline-block{
	display: inline-block;
}
.same-line{
	vertical-align: top;
}
.left{
	margin-left:15px;
}
/*navigaciis ukana fonis zomebi*/
.navigation{
	background-color: black;
	width:1104px;
	height:50px;
	padding:15px;

}
/*boxebis sheketeba*/
.article-box{
	background-color: #707070;
	border-color: #222222;
	color: white;
	width: 436px;
	height: 360px;
	padding: 15px;
	position: relative;
	bottom: 54px;
}
.article-box1{
	background-color: #EEEEEE;
	border-color: #707070;
	width: 454px;
	height: 360px;
	padding: 15px;
	position: relative;
	bottom: 7px;
	right: 4px;
}
.article-box2{
	background-color: #E41C26;
	border-color: #707070;
	width:450px;
	height: 360px;
	color: white;
	padding: 15px;
	position: relative;
	bottom: 6px;
	right: 8px;
}
/*boxebshi dashoorebebi */
.size{
	font-size: 20px;
	margin: 15px;
	text-align: center;
	margin-bottom: 15px;
}
.size2{
	text-align: center;
	margin-bottom: 15px;
}
/*boxis logoebis gasworeba*/
.lo{
	padding-left: 160px;
}
.lon{
	padding-left: 180px;
}
.long{
	padding-left: 185px;
}
/*contactis ruka*/
.map{
	margin-left: 430px;
	margin-top: 15px;
}
.color-cn{
	background-color: #EEEEEE;
}
/*menius position*/
.navigation{
	position: relative;
	right: 4px;
}
/*navigaciebis yvela gverdze gasworeba*/
.navigationcontact{
	display: inline-block;
	background-color: black;
	width:100%;
	height:50px;
	padding:15px;
	position: relative;
	right: 4px;
}
.navigationp{
	display: inline-block;
	background-color: black;
	width:1124px;
	height:50px;
	padding:15px;
	position: relative;
	right: 4px;
}
.navigationch{
	display: inline-block;
	background-color: black;
	width:1124px;
	height:50px;
	padding:15px;
	position: relative;
	right: 4px;
}
/*contactebis dashoreba marjinit */
.contact-ul{
	margin-top: 10px;
}
.hide1{
	margin-top: 10px;
}
.hide2{
	margin-top: 10px;
}
/*end*/
/*foother navigaciaze*/
.simp{
	position: relative;
	bottom: 175px;
	left: 1235px;
}
/*end*/ 
.empty{
	display: inline-block;
	color: red;
	background-color: blue;
	width:1104px;
	margin-left: 237px;
	position: relative;
	bottom: 53px;
	height: 50px;
}
/*icone facebookis atana*/
.onblack{
	position: relative;
	bottom: 55px;
	left: 52px;
}
/*end*/
/*atana suratis */
.atana{
	position: relative ;
	bottom: 104px;
}
.atana2{
	position: relative;
	bottom: 178px;
}
/*end*/
/*emptyze olympiuri warwera
*/
.citius{
	position: relative;
	left: 650px;
	bottom: 40px;
	text-transform: uppercase;
}
.shua{
	margin-left: 575px;
	margin-bottom: 8px;
}
.shua2{
	position: relative;
	bottom: 74px;
	left: 89px;
	margin-left: 770px;
}
/*end*/